<?xml version='1.0' encoding='utf-8'?>
<widget id="com.cgvak.dineshraja.pluginstall" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Pluginstall</name>
    <description>
        A Simple Cordova app to illustrate various plugins.
    </description>
    <author email="dineshrajaa.93@gmail.com" href="http://cordova.io">
        Dinesh Raja
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
